/* 에러로그 목록 및 목록 페이지 스타일 css  */

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

/* margin 및 padding */
.mgb-5 {
  margin-bottom: 5px;
}
.pt {
  padding-top: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.ml-1000 {
  margin-left: 700px;
}

/* border 및  정렬 */
.verMid {
  vertical-align: middle;
}
.textMid {
  text-align: center;
}
.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}

/*  높이 및 넓이 */
.h25 {
  height: 25px;
}
.w-40 {
  width: 40px;
}
.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
.w-30p {
  width: 30%;
}

/* content 레이아웃 사이즈 */
.content-wrap {
  height: auto;
}
.content-view {
  margin-top: 40px;
  margin-left: 30px;
  height: auto;
}
.contentMain {
  padding: 0 40px 0 40px;
  width: 90%;
  position: relative;
  left: 210px;
}
.content-title {
  margin: 40px 0 40px 0;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #444;
  font-family: "Noto Sans KR", sans-serif;
}
.content-title h3 {
  margin: 20px 0 10px 0;
  font-size: 20px;
}

.main-frame {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.form-frame {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 10px 30px;
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}

.form-groups {
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 100%;
}

.form-groups table {
  width: 100%;
}
.form-groups thead {
  border-bottom: 1px solid #3a3a3a;
}
.form-groups p {
  color: rgb(100, 100, 100);
  font-size: 14px;
  margin-bottom: 5px;
}

.form-groups label {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: normal;
}

.form-control {
  border-radius: 0.1rem;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 0.8rem;
  border: 1px solid #d7d7d7;
  background: #fff;
  color: #3a3a3a;
  height: auto;
  padding: 0.5rem 0.75rem;
  line-height: 1;
  display: block;
  width: 90%;
}

/* 페이지 내의 회사 코드 검색 form 스타일 */
.search-group {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.form-group {
  margin-bottom: 26px;
}

.form-group label {
  display: inline-block;
  text-align: left;
  width: 90px;
  margin-left: 30px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  color: #222;
}

.form-group input {
  width: 200px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid rgb(209, 209, 209);
  outline: none;
  border-radius: 13px;
  font-family: "Noto Sans KR", sans-serif;
  padding: 5px 20px;
}

/* 테이블 스타일  */
.form-groups table {
  width: 100%;
  margin-bottom: 20px;
}
.form-groups thead {
  border-bottom: 1px solid #daddd8;
  color: #595959;
  font-family: "Noto Sans KR", sans-serif;
}

.form-groups tbody {
  border-radius: 20px;
  font-family: "Noto Sans KR", sans-serif;
}

.form-groups tbody tr {
  height: 38px;
}
.form-groups tbody tr td:first-of-type {
  color: #595959;
}
.form-groups tbody tr td {
  border: 1px solid #daddd8;
  color: #595959;
  font-weight: normal;
  font-size: 14px;
}

.form-groups tbody tr td {
  border-left: none;
  border-right: none;
}
