@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}

.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #eb9486;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 10px;
  font-family: "Noto Sans KR", sans-serif;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 버튼 */
.btn-color {
  transition: 0.2s;
  background-color: #eb9486;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn {
  border-radius: 20px;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 14px;
  padding: 13px 8px;
  height: auto;
  width: 70px;
  line-height: 0.5;
  font-family: "Noto Sans KR", sans-serif;
}

.btn-color-2 {
  transition: 0.2s;
  background-color: #ecebe4;
  color: #444;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn-color-2-active {
  transition: 0.2s;
  background-color: #a1a1a1;
  color: rgb(0, 0, 0);
  cursor: pointer;
  outline: none;
  border: none;
}
.btn-p::before{
  content: "<";
}
.btn-n::before{
  content: ">";
}
.btn-f::before{
  content: "<<";
}
.btn-e::before{
  content: ">>";
}
.btn-2 {
  border-radius: 200px;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 13px;
  height: 30px;
  width: 30px;
  line-height: 1;
  margin: 0 2px 0 2px;
  font-family: "Noto Sans KR", sans-serif;
}

/* 폼스타일 */
.form-control1 {
  width: 36%;
  border-radius: 2px;
  border: 1px solid rgb(209, 209, 209);
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  margin: 0 10px;
  padding: 1px 10px;
  display: inline-block;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
}


/* 텍스트에리어 */
.textsize {
  top: 0;
  height: 100px;
  width: 85.5%;
  resize: none;
  margin-left: 78px;
  padding: 10px 10px;
  display: inline-block;
  border: rgb(209, 209, 209) 1px solid;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  outline: none;
}

.t1,
.m1,
.m2,
.m3 {
  margin-bottom: 20px;
}

.t1 {
  text-align: left;
}
.t1 label:first-of-type {
  margin-right: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
.t1 label:last-of-type {
  margin-left: 50px;
  font-family: "Noto Sans KR", sans-serif;
}
.m2 {
  position: relative;
}

.m2 label {
  position: absolute;
  top: 0px;
  font-family: "Noto Sans KR", sans-serif;
}
.m3 label {
  font-family: "Noto Sans KR", sans-serif;
}
.m3 label:last-of-type {
  margin-left: 42px;
}

.b1 label {
  font-family: "Noto Sans KR", sans-serif;
}
.b1 label:last-of-type {
  margin-left: 37px;
}
.r{
  margin-top: 10px;
}
.right{
  position: relative;
  text-align: center;
  margin-left: 85%;
}
.right:hover{
  text-decoration: underline;
  color: #f44;
}